* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  padding: 0 2rem;
}

.container {
  width: 568px;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.tabs {
  width: 100%;
  display: flex;
  border-bottom: 1px solid #ccc;
}

.tab {
  color: var(--black-color);
  text-decoration: none;
  width: 100%;
  text-align: center;
  padding: 15px;
  cursor: pointer;
}

.tab.active {
  font-weight: bold;
  border-bottom: 2px solid black;
}

.content {
  padding: 20px 0;
}

.profile {
  display: flex;
  align-items: center;
  padding: 15px;
  border: 1px solid #eee;
  border-radius: 10px;
  background: #f9f9f9;
  margin-bottom: 20px;
}

.profile img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 15px;
}

.inputs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.inputs div {
  text-align: center;
}

.inputs input {
  margin-top: 5px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  width: 100px;
  text-align: center;
}

.swiper {
  width: 100%;
  height: 300px;
}

.buttons {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 15px;
}

.buttons button {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
}

.buttons .reset {
  background: white;
  border: 1px solid black;
}

.buttons .save {
  background: black;
  color: white;
  border: none;
}

.log-entry {
  border-top: 1px solid #ccc;
  padding: 10px 0;
}

.log-date {
  color: gray;
  font-size: 14px;
  margin-bottom: 5px;
}

.log-type {
  font-weight: bold;
  margin-bottom: 10px;
}

.log-details {
  display: flex;
  gap: 10px;
}

.log-box {
  flex: 1;
  padding: 1.5rem 0;
  color: #fff;
  background-color: #000;
  border-radius: 10px;
  text-align: center
}