* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  padding: 0 2rem;
}

.container {
  width: 568px;
  display: flex;
  flex-direction: column;
  background: #fff;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
  justify-content: space-around;
  border-bottom: 1px solid #ccc;
  margin-bottom: 5rem;
}

.tabs a {
  padding: 1rem;
  flex: 1;
  text-align: center;
  text-decoration: none;
  color: #666;
  font-weight: bold;
}

.tabs a.active {
  border-bottom: 2px solid #000;
  color: #000;
}

form {
  width: 100%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 0 auto;
}

form > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

label {
  font-weight: 600;
  margin-bottom: 1rem;
  display: block;
}

select, input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 1rem;
  box-sizing: border-box;
  text-align: center;
}

.button-group {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
}

.button-group button {
  flex: 1;
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
}

.reset-btn {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}

.save-btn {
  background-color: #222;
  color: #fff;
}