<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>운동 이력 & 마이페이지</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mypage.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/swiper.min.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/apexcharts.css') }}">
</head>
<body>
  <div class="container">
    <div class="tabs">
      <a class="tab active" href="/exercise/mypage">My</a>
      <a class="tab" href="/exercise/workout">Work out</a>
    </div>

    <div class="content">
      <div class="profile">
        <img src="https://placehold.co/60" alt="Profile">
        <div><strong>{{ profile.email }}</strong></div>
      </div>

      <form>
        <div class="inputs">
          <div>
            <label>Height</label><br>
            <input type="text" value="{{ profile.height }}">
          </div>
          <div>
            <label>Weight</label><br>
            <input type="text"  value="{{ profile.weight }}">
          </div>
        </div>
        <div class="buttons">
          <button class="reset">Reset</button>
          <button class="save">Save</button>
        </div>
      </form>

      <div class="graph-section">
        <div class="swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide"><div id="chart"></div></div>
            <div class="swiper-slide">Slide 2</div>
            <div class="swiper-slide">Slide 3</div>
          </div>
          <div class="swiper-pagination"></div>
          <div class="swiper-button-prev"></div>
          <div class="swiper-button-next"></div>
        </div>
      </div>
    </div>
      <!-- 운동 기록 리스트 -->
    {% for record in record %}
        <div class="log-entry">
            <div class="log-date">{{ record.created_at }}</div>
            <div class="log-type">{{record.exercise_type}}</div>
            <div class="log-details">
              <div class="log-box">{{ record.set_num }} Set</div>
              <div class="log-box">{{ record.REPS }} REP</div>
            </div>
        </div>
    {% endfor %}
    </div>
  </div>
  </div>
</body>
<script type="text/javascript" src="{{ url_for('static', filename='js/swiper.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/apexcharts.min.js') }}"></script>
<script type="text/javascript">
  const swiper = new Swiper('.swiper', {
    // Optional parameters
    direction: 'vertical',
    loop: true,

    // If we need pagination
    pagination: {
      el: '.swiper-pagination',
    },

    // Navigation arrows
    navigation: {
      nextEl: '.swiper-button-next',
      prevEl: '.swiper-button-prev',
    },

    // And if we need scrollbar
    scrollbar: {
      el: '.swiper-scrollbar',
    },

    autoplay: {
      delay: 3000,
      disableOnInteraction: false,
    }
  });
</script>
<script type="text/javascript">
  var options = {
    series: [{
      name: "Desktops",
      data: [10, 41, 35, 51, 49, 62, 69, 91, 148]
  }],
    chart: {
    height: 300,
    type: 'line',
    zoom: {
      enabled: false
    }
  },
  dataLabels: {
    enabled: false
  },
  stroke: {
    curve: 'straight'
  },
  title: {
    text: 'Product Trends by Month',
    align: 'left'
  },
  grid: {
    row: {
      colors: ['#f3f3f3', 'transparent'], // takes an array which will be repeated on columns
      opacity: 0.5
    },
  },
  xaxis: {
    categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep'],
  }
  };

  var chart = new ApexCharts(document.querySelector("#chart"), options);
  chart.render();
</script>
</html>
